.allCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 10px;
}

.link_card {
  height: 200px;
  perspective: 1000px;
}

.articleCard {
  width: 100%;
  height: 100%;
  border: 1px solid var(--text_2);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 5px var(--text_2);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
  color: #451d47;
  cursor: pointer;

  &:hover {
    padding: 19px;
    border: 2px solid var(--bg_2);
    box-shadow: 0px 0px 10px var(--text_2), 0px 0px 5px var(--text_2) inset;
  }
}

.apparitionCard {
  animation: apparitionCard 0.75s -0.1s linear forwards;
}

@keyframes apparitionCard {
  0% {
    transform: scale(0) translateY(50px) rotateY(180deg);
    opacity: 0;
    display: block;
  }

  50% {
    transform: scale(0.25) translateY(100px) rotateY(90deg);
    opacity: 1;
    display: block;
  }
  100% {
    transform: scale(1);
    display: block;
  }
}

@mixin gradient-card($color-1, $color-2, $hover-percent: 10%) {
  background: linear-gradient(25deg, $color-1 20%, $color-2 100%);

  &:hover {
    background: linear-gradient(
      25deg,
      darken($color-1, $hover-percent) 20%,
      darken($color-2, $hover-percent) 100%
    );
  }
}

.formations_card {
  @include gradient-card(#fabf41, #fcd279);
}
.rocket_card {
  @include gradient-card(#fae25d, #fff3ae);
}
.portfolio_card {
  @include gradient-card(#77fc77, #bbffbb);
}
.projets_card {
  @include gradient-card(#57ddff, #a2edff);
}
.tricks_card {
  @include gradient-card(#a27aff, #c9b1ff);
}
.autres_card {
  @include gradient-card(#cf98ff, #ebd8fc);
}

@media all and (max-width: 900px) {
  .allCards {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .link_card {
    height: 180px;
  }
  .articleCard {
    padding: 10px;
    &:hover {
      padding: 9px;
    }
  }
}
@media all and (max-width: 520px) {
  .container {
    padding: 50px 0 0;
  }
  .allCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .link_card {
    height: 150px;
  }
  .articleCard {
    padding: 5px;
  }
}

@media all and (max-width: 340px) {
  .allCards {
    grid-template-columns: 1fr;
  }

  .link_card {
    height: 100px;
  }
}
